.allHomesContainer {
    width: 1200px;
    margin: auto;
}

.allHomesHero {
    margin-bottom: 6em;
    width: 100%;
    height: 200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../images/banner.png);
    .allHomesHeroBg {
        background-color: rgba(0, 0, 0, 0.7);
        height: 200px;
    }
}


h1 {
    color: white;
    font-size: 3em;
    font-weight: 700;
    margin: 0;
    text-align: center;
    z-index: 1;
    padding: 1.25em 0;
}
